.App {
  text-align: center;
}
.h2{
  text-align: center;
  justify-content: center;
  margin: auto;
}
/* header */
.menu-list{
  display: flex;
}
.menu-list h3{
  margin-left: 60px;
  margin-top: 24px;
  font-size: 15px;
}
nav li{
  list-style: none;
}
nav{
  margin-top: 20px;
}
nav li :Link{
  margin-right: 40px;
  text-decoration: none;
}
.content-header{
  border: none;
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.btn-group{
  display: flex;
}
.box-get, .box-login{
  margin-top: 15px;
} 
.box-get button{
  margin-right: 60px;
  margin-top: -5px;
  background-color: rgb(2, 191, 184);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
}
.box-login button{
  margin-right: 10px;
  padding: 10px 20px;
  margin-top: -5px;
  border: none;
  background-color: white;
}
/* header */

/* content */
.content{
  border: none;
  /* display: grid; */
  justify-content: center;
  height: max-content;
  background-color: rgb(243, 247, 246);
}
.inset-content{
  height: max-content;
  margin: auto;
  border: none;
  display: grid;
  width: 80%;
  text-align: center;
}
.inset-content h1{
  font-size: 40px;
  margin-top: 30px;
}
.inset-content p{
  font-size: 20px;
  line-height: 0;
  margin-top: 20px;
  color: #6e6e6e;
}
.inset-content h5{
  font-size: 20px;
  line-height: 0;
  margin-top: 20px;
  color: #373737;
}
.box-input{
  grid-column-gap:10px ;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.box-input p{
  margin-top: 37px;
}
#custom-switch{
  width: 45px;
  height: 24px;
  outline: none;
  border: none;
  margin-top: 28px;
}
.off{
  font-size: 12px;
  border-radius: 3px;
  border: none;
  color: rgb(83, 100, 100);
  background-color: rgb(197, 243, 243);
  box-shadow: 0px -0px 5px #a9bab8;
}
.custom-switch:checked{
  background-color: green !important;
}
.three-item{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.item{
  border-radius: 16px;
  width: 30%;
  background-color: white;
}
.p{
  text-align: left;
  margin-left: 10px;
}
.titr-item{
  display: flex;
  margin-left: 30px;
  margin-top: 25px;
}
.icon{
  margin-top: 10px;
  color: #3fb1a4;
}
.item h4{
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
  color: #828282;
}
.mony{
  display: flex;
  margin-left: 30px;
}
.mony span{
  font-size: 55px;
  color: #9c9c9c;
}
.mony p{
  margin-top: 40px;
  font-size: 55px;
  color: #0a0a0a;
}
.mony h5{
  margin-top: 55px;
  font-size: 13px;
  color: #9c9c9c;
}
.btn-item{
  width: 80%;
  border: none;
  padding: 10px 15px;
  background-color: #4db9eb;
  color: white;
  border-radius: 3px;
}

.icon-tick{
  color: #3fb1a4;
  margin-right: 10px;
}
.ul-option{
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  list-style: none;
}
.ul-option li{
  margin-top: 10px;
  color: #6e6e6e;
}
.ul-titr{
  color: #0a0a0a !important;
  font-size: 14px;
  font-weight: 700;
}
.item-footer{
  /* border: 1px solid black; */
  background-color: rgb(243, 247, 246);
  margin-bottom: 0;
  margin-top: 230px;
  text-align: center;
  padding: 15px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
/* content */

/* content-footer */
.content-footer{
  /* border: 1px solid black; */
  margin-top: -56px;
  background-color: white;
  padding-bottom: 20px;
}
.inset-footer{
  margin: auto;
  /* border: 1px solid black; */
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.titr-footer{
  justify-content: space-around;
  display: flex;
  width: 50%;
  /* border: 1px solid black; */
}
.titr-footer h3{
  font-size: 16px;
  margin-top: 10px;
}
.titr-footer-left h3{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
}
/* content-footer */

